In [13]:
import pandas as pd

df = pd.read_csv('cash.csv')
df.head()

    gameName  cash
0  리그 오브 레전드   0.0
1     배틀그라운드   0.0
2     피파온라인4   1.0
3       오버워치   1.0
4      로스트아크   0.0

In [14]:
df2 = pd.read_csv('C:\\Users\\sh921\\Dropbox\\2022 SSCI - Game\\3. data\\master_did_210920.csv')
df2.head()

,gameCode,gameName,gameRank,gameRankUpDown,gameShares,gameTypeShares,sharesUpDown,timeCountTotal,avgUsedTime,userCountTotal,...,gameTypeName_대전격투,gameTypeName_레이싱,gameTypeName_보드,gameTypeName_슈팅,gameTypeName_스포츠,gameTypeName_아케이드,gameTypeName_액션,gameTypeName_캐주얼,med_ram,did
0,545,리그 오브 레전드,1,0,32.61,89.72,-0.37,2556620797,5886,434422,...,0,0,0,0,0,0,0,0,1,1
1,545,리그 오브 레전드,1,0,32.64,89.43,0.04,2789391932,5751,485028,...,0,0,0,0,0,0,0,0,1,1
2,545,리그 오브 레전드,1,0,32.61,89.25,-0.02,3569515214,6057,589348,...,0,0,0,0,0,0,0,0,1,1
3,545,리그 오브 레전드,1,0,32.67,89.69,0.07,3579861781,6175,579773,...,0,0,0,0,0,0,0,0,1,1
4,545,리그 오브 레전드,1,0,32.89,90.04,0.22,2617928106,6011,435538,...,0,0,0,0,0,0,0,0,1,1

In [15]:
df = pd.merge(df,df2, how='left',on='gameName')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 138593 entries, 0 to 138592
Data columns (total 48 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   gameName            138593 non-null  object
 1   cash                41160 non-null   float64
 2   gameCode            138593 non-null  int64
 3   gameRank            138593 non-null  int64
 4   gameRankUpDown      138593 non-null  int64
 5   gameShares          138593 non-null  float64
 6   gameTypeShares      138593 non-null  float64
 7   sharesUpDown        138593 non-null  float64
 8   timeCountTotal      138593 non-null  int64
 9   avgUsedTime         138593 non-null  int64
 10  userCountTotal      138593 non-null  int64
 11  useStoreCount       138593 non-null  int64
 12  gameRegDate         138593 non-null  object
 13  publisher           138593 non-null  object
 14  payType             138593 non-null  int64
 15  date                138593 non-null  object
 16  dateCount           138593 non-null  int64
 17  ram_min             119608 non-null  float64
 18  singlePlay          115933 non-null  float64
 19  teamPlay            116668 non-null  float64
 20  PvE                 115933 non-null  float64
 21  PvP                 115933 non-null  float64
 22  gaming_interaction  115933 non-null  float64
 23  2019_avg            134640 non-null  float64
 24  2020_avg            138593 non-null  float64
 25  2021_avg            138522 non-null  float64
 26  updown_a            134640 non-null  float64
 27  updown_b            138593 non-null  float64
 28  updown_c            134640 non-null  float64
 29  med_high_a          138593 non-null  int64
 30  med_high_b          138593 non-null  int64
 31  med_high_c          138593 non-null  int64
 32  weekday             138593 non-null  int64
 33  weekend             138593 non-null  int64
 34  Regdate             138593 non-null  int64
 35  gameTypeName_FPS    138593 non-null  int64
 36  gameTypeName_RPG    138593 non-null  int64
 37  gameTypeName_RTS    138593 non-null  int64
 38  gameTypeName_대전격투   138593 non-null  int64
 39  gameTypeName_레이싱    138593 non-null  int64
 40  gameTypeName_보드     138593 non-null  int64
 41  gameTypeName_슈팅     138593 non-null  int64
 42  gameTypeName_스포츠    138593 non-null  int64
 43  gameTypeName_아케이드   138593 non-null  int64
 44  gameTypeName_액션     138593 non-null  int64
 45  gameTypeName_캐주얼    138593 non-null  int64
 46  med_ram             138593 non-null  int64
 47  did                 138593 non-null  int64
dtypes: float64(16), int64(28), object(4)
memory usage: 51.8+ MB

In [18]:
df.to_csv('cash_merge.csv')